html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/al-lib.css")
  
  body
    
    ul.nav
      li: a(onclick="loadArrayByNumber(0)") Load index
      li: a(onclick="loadArrayByNumber(1)") Load about
    
    h1 AL-Lib Testing
    //create a div with the class of 'ajax-content' for al-lib to find and load
    .ajax-content
    
    script(src="js/jquery-1.11.3.min.js")
    script(src="js/al-lib.js")
    script(src="js/userjs.js")
